* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; /* Evitar margens indesejadas */
    top: 0;
    font-family: "Poppins", sans-serif;
    background-color: #ddd;
  }

#header {
    background-color: #f7f7f7;
    color: white;
    padding: 20px;
}

#header img {
    height: 50px;
    margin-right: 10px;
}

#main-content {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.title-section {
    text-align: center;
    font-weight: bold;
    color: #080846;
}

.image-preview {
    width: 150px;
    height: 200px;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.section-list .list-group-item {
    font-weight: bold;
    color: #080846;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fefefe;
    transition: background-color 0.2s;
}

.section-list .list-group-item:hover {
    background-color: #f0f0f0;
}

.section-number {
    background-color: #080846;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 10px;
}