body {
    box-sizing: border-box;
    margin: 0;
    top: 0;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
   
}

#main-content {

    margin-top: 35px;
}

#nome_personagem {
    text-align: center;
    font-weight: bolder;
    color: #080846;
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
}