body {
    box-sizing: border-box;
    margin: 0;
    top: 0;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
   
}

#main-content {
    background-color: transparent;
    border-radius: 8px;
    margin-top: 15px;
}

#nome_personagem {
    text-align: center;
    font-weight:bolder ;
    color: #080846;
}
