body {
    box-sizing: border-box;
    margin: 0;
    top: 0;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
   
}
.side-menu {
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    min-height: 100vh;
}
.story-card {
    width: 180px;  
    height: 250px; 
    background-color: #fff;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    
}

.story-card:hover {
    background-color: #f9f9f9;
}
.new-story-button {
    width: 100%;
    max-width: 180px; 
    ma

}

#history_name{  /* tamanho do título*/ 
    width: 100%;
    max-width: 180px; 
    margin-top: 8px;
}

h5{
    font-size: 15px;
    font-weight: 500;


}
.btn-primary {
    font-size: 15px;
    background-color: #0A0A5E;
    border-color: #0A0A5E;
}
.btn-primary:hover {
    background-color: #080846; /* Transição do botão*/
    border-color: #080846;
}

a.nav-link{
    color:#080846;
}

.img-fluid{
    width: 180px;  
    height: 250px; 
}

.size{
    width: 200px;   
}

.toggle-button[aria-expanded="true"] i {
    display: none;
}

.dropdown-toggle::after {
    display: none; /* Remoção do item do menu suspenso */
}

a{
    text-decoration: none;
    color: #080846;
    transition: transform 0.3s; /* Configurações do + dentro do card */
}

a:hover {
    transform: scale(1.1); /* Efeito de zoom */
}

#closeMenu {
    display: none; /* Configurações do ícone de fechar */
    position: absolute;
    top: 0.5rem; 
    right: 0.5rem; 
    z-index: 1;
}

#no_transform{
    transform: none;
}

.bi-person-circle{
    color: #080846;
}

