body {
    box-sizing: border-box;
    margin: 0;
    top: 0;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
   
}

#titulo{
    font-size: 20px;
    padding: 5px;
    color: #f4f4f4;
    background-color:#080846 ;
}


#mais{
background-color: #080846;
color: #f4f4f4;

}

#criar{
background-color: #f4f4f4;
color: #080846;
}


/* Estilos para o grupo de botões */
.btn-group {
    margin: 5px; /* Adiciona margem ao redor do grupo de botões */
}

/* Estilos para todos os botões */
.btn-primary {
    border: none;
    color: white;
    font-weight: bold; /* Deixa o texto em negrito */
    transition: background-color 0.3s ease; /* Efeito suave ao passar o mouse */
}
