*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
    font-family: sans-serif;
}

.img{
    background-position: center;
    width: 100vh;
    background-image: url(/imagens/notebook-1840276_1280.jpg);
}

.color{
    background-color:black;
}