*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
    font-family: sans-serif;
}

header{
    padding:6px;
    background-color:rgb(255, 255, 255);

}
/* Estilo para o container da imagem de fundo */
.background {
    position: relative;
    width: 100%;
    height: 100vh; /* Faz com que ocupe a altura total da janela */
    background-image: url(/imagens/notebook-1840276_1280.jpg);
    background-size: cover; /* Faz com que a imagem cubra todo o fundo */
    background-position: center; /* Centraliza a imagem de fundo */
  }
  
  /* Estilo para a sobreposição preta */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3; /* Define a opacidade em 30% */
    z-index: 1; /* Coloca a sobreposição acima da imagem */
  }
  
  /* Conteúdo do site */
  .content {
    position: relative;
    z-index: 2; /* Coloca o conteúdo acima da sobreposição */
    color: white; /* Torna o texto branco para contraste */
    text-align: center;
    padding-top: 20vh; /* Ajusta a posição do conteúdo */}


    img{
        width: 250px;
        height: auto;
    }
    ul{
        list-style-type: none;
    }

    .form-group