*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
    font-family: sans-serif;
}

.header{
    height: 15vh;
}
.img{
    background-image: url(/imagens/notebook-1840276_1280.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.color{
    background-color:black;
}