body {
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    
}
.side-menu {
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    min-height: 100vh;
}
.story-card {
    height: 200px;
    background-color: #fff;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}
.story-card:hover {
    background-color: #f9f9f9;
}
.new-story-button {
    width: 100%;
}

.btn-primary {
    background-color: #0A0A5E; /* Azul escuro */
    border-color: #0A0A5E;
}
.btn-primary:hover {
    background-color: #080846; /* Azul escuro um pouco mais escuro ao passar o mouse */
    border-color: #080846;
}

a.nav-link{
    color:#080846;
}

.user-icon {
    color:#080846; /* Define a cor como preto */
}
.custom-size {
    width: 200px;  
    height: 250px; 
}

.size{
    width: 200px;   
}

.toggle-button[aria-expanded="true"] i {
    display: none;
}

.dropdown-toggle::after {
    display: none; /* Remove o ícone de seta padrão */
}

a{
    text-decoration: none;
    color: #080846;
    transition: transform 0.3s; /* Adiciona uma transição suave */
}

a:hover {
    transform: scale(1.1); /* Aumenta o tamanho do link em 10% ao passar o mouse */
}

#closeMenu {
    display: none; /* Esconde o botão de fechar inicialmente */
    position: absolute; 
    top: 3rem; 
    right: 2rem; 
    z-index: 1; 
}
